<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
		  integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<title>Obrok 2019</title>
	{% block header %}{% endblock %}
</head>
<body>
<div class="menu pure-menu pure-menu-horizontal pure-menu-scrollable">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="{{ link('homepage') }}" class="menu-link pure-menu-link">Obrok19</a></li>
		<li class="pure-menu-item"><a href="{{ link('news') }}" class="menu-link pure-menu-link">Novinky</a></li>
		<li class="pure-menu-item"><a href="{{ link('map') }}" class="menu-link pure-menu-link">Mapa</a></li>
		<li class="pure-menu-item"><a href="{{ link('programs') }}" class="menu-link pure-menu-link">Programy</a></li>
		<li class="pure-menu-item"><a href="{{ link('links') }}" class="menu-link pure-menu-link">Odkazy</a></li>
	</ul>
</div>
<main>
	{% block content %}{% endblock %}
</main>
<footer>
	S ❤ vybrousil Lung
</footer>
</body>
</html>
