{% if (registeredPrograms[section][time] is defined) %}
	{% set program = registeredPrograms[section][time] %}
	<br />
	<a href="{{ link('programs') }}#section-{{ section }}-program-{{ program.id }}" class="button-success pure-button">
		<small>Váš program:</small><br />
		{{ program.name }}<br />
		<small>{{ program.lector }}</small>
	</a>
{% endif %}