{% extends "_layout.twig" %}

{% block highlight %}programs{% endblock %}

{% block header %}
	<script type="text/javascript">
		function toggle_visibility(id) {
			let e = document.getElementById(id);
			if (e.style.display === 'none')
				e.style.display = 'inherit';
			else
				e.style.display = 'none';
		}

		function toggleByHash()
		{
            const matches = location.hash.match(/#section-(\d+)-program-(\d+)/);
            if (matches)
            {
                toggle_visibility('section-' + matches[1]);
                toggle_visibility('program-' + matches[2]);

                let elem = document.getElementById("program-detail-" + matches[2]);
                if (elem)
				{
				    setTimeout(function() {
                        elem.scrollIntoView();
					}, 300);

				}
            }
		}

		window.addEventListener('load', toggleByHash);
		window.addEventListener('hashchange', toggleByHash)
	</script>
{% endblock %}

{% block content %}
	<h1>Programy</h1>
	{% for s in sections %}
		{% if (s['programs']) %}
		<div class="section">
			<h2 class="sectionName" onclick="toggle_visibility('section-{{ s['id'] }}')">
				{{ s['title'] }}{% if s['subTitle'] %} - {{ s['subTitle'] }}{% endif %}
			</h2>
			<div id="section-{{ s['id'] }}" style="display: none">
				{% for p in s['programs'] %}
					<div class="program" id="program-detail-{{ p['id'] }}" onclick="toggle_visibility('program-{{ p['id'] }}')">
						<h3 class="programName">{{ p['name'] }}</h3>
						<div id="program-{{ p['id'] }}" style="display: none">
							{% if (p['lector']) %}<p><b>{{ p['lector'] }}</b></p>{% endif %}
							<p>
								<i>
                                    {{ p['start']|dateToCzechDayName }} {{ p['start']['date']|date('H:i') }} -

									{% if (p['multiday']) %}
                                        {{ p['end']|dateToCzechDayName }}
                                    {% endif %}
                                    {{ p['end']['date']|date('H:i') }}
								</i>
							</p>
							<p>{% if p['location'] %}<b>{{ p['location'] }}</b>{% else %}<i>lokace nezadána</i>{% endif %}</p>
							<p>{{ p['perex'] }}</p>
							{#<p>Obsazeno {{ p['occupied'] }} ze {{ p['capacity'] }}</p>#}
							{% if (p['tools']) %}<p>S sebou: {{ p['tools'] }}</p>{% endif %}

							{% if(s['id'] == 2) %}
								{#<a href="images/map-vzlet.png">#}
									<img src="images/map-vzlet.png" alt="Mapa Vzlet" />
								{#</a>#}
                            {% elseif(s['id'] == 14) %}
								{#<a href="images/map-mayday.png">#}
									<img src="images/map-mayday.png" alt="Mapa M(a]yDay" />
								{#</a>#}
                            {% elseif(s['id'] == 15) %}
                                {#<a href="images/map-velkahra.png">#}
								<img src="images/map-velkahra.png" alt="Mapa Velká hra" />
                                {#</a>#}
                            {% elseif(s['id'] == 17 || p['id'] == 27 || p['id'] == 28) %}
                                {#<a href="images/map-netradicni-sporty.png">#}
								<img src="images/map-netradicni-sporty.png" alt="Mapa Netradicni sporty" />
                                {#</a>#}
                            {% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
        {% endif %}
	{% endfor %}
{% endblock %}
